<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/recipe_details_page.css' />
  </head>
  <body>
    <div id= "recipe_details" class = "recipe_details">
        <h1><%= title %></h1>
        <script src="/javascripts/recipe_details.js" recipes="<%= JSON.stringify(recipes) %>" ingredients="<%= JSON.stringify(ingredients) %>" comments="<%= JSON.stringify(comments) %>"></script>
    </div>
</form>
  </body>
</html>
